.vscode/
query_db/
exp_logs/
tests/
*.o
fuzzy_z3.csv
fuzzy_flip_info.csv
debug-eval
eval-driver
fuzzy-solver
fuzzy-solver-notify
fuzzy-solver-vs-z3
maxmin-driver
findall-driver
solver
interval_test
libZ3Fuzzy.a